<template>
    <tr>
        <td  class="col-sm-3">
            <au-autocomplete 
                    value.bind="data.code" 
                    error.bind="error.code"
                    loader.bind="itemLoader"
                    placeholder="barcode"
                    read-only.bind="readOnly"
                    options.bind="controlOptions"
                    change.delegate="codeChanged($event)"
                    text = "code">
            </au-autocomplete>
        </td>
        <td style="text-align:center;" class="col-sm-2">
            <au-textbox
                value.bind="data.article.realizationOrder" 
                read-only.bind="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td class="col-sm-2">
                <au-textbox 
                    value.bind="data.name" 
                    error.bind="error.name"
                    read-only.bind="true"
                    options.bind="controlOptions">
                </au-textbox>
        </td>
        <td class="col-sm-2">
            <au-textbox 
                value.bind="data.remark" 
                error.bind="error.remark"
                read-only.bind="readOnly" 
                placeholder="keterangan" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td class="col-sm-2" if.bind="!readOnly"><button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button></td>
    </tr>
</template>