#dragula .box {
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 28px;
    padding: 10px;
    cursor: pointer;
    height: 100px;
    color: white;
    font-size: 1.5em;
    line-height: 80px;
    text-align: center;
}

#dragula .box:hover {
    background-color: #262626;
}

#dragula .btn-box {
    line-height: 80px;
    text-align: center;
    opacity: 0.75;
}