.box-detail {
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}

.box-header {
  background-color: #ebedef;
  color: black;
  padding: 7px 0 7px 15px;
  margin-bottom: 15px;
}

.title-header {
  font-size: 18;
}

.content-detail {
  padding-bottom: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

tr {
  height: 40px;
}

th {
  width: 170px;
}
