<template>
  <tr>
    <td style="text-align:center" class="col-sm-2">
      <au-textbox value.bind="item.item.code" read-only="true" options.bind="controlOptions"></au-textbox>
    </td>
    <td>
      <au-textbox value.bind="item.item.name" read-only="true" options.bind="controlOptions"></au-textbox>
    </td>
    <td>
      <au-textbox value.bind="item.qtyBeforeSO" read-only="true" options.bind="controlOptions"></au-textbox>
    </td>
    <td>
      <au-textbox value.bind="item.qtySO" read-only="true" options.bind="controlOptions"></au-textbox>
    </td>
    <td>
      <au-textbox value.one-way="qtyDifferent" read-only="true" options.bind="controlOptions"></au-textbox>
    </td>
    <td width="300px">
      <au-textbox value.bind="createdDate" 
                  error.bind="error.remark" 
                  read-only.bind="(readOnly || !item.isAdjusted)" 
                  options.bind="controlOptions"></au-textbox>
    </td>
    <td if.bind="item.isView">
      <au-textbox value.one-way="Adjustment" read-only="true" options.bind="controlOptions"></au-textbox>
    </td>
    <td if.bind="item.isEdit" width="200px">
      <au-checkbox value.bind="item.isAdjusted" error.bind="error.isAdjusted" options.bind="controlOptions" style="text-align:center"></au-checkbox>   
    </td>
  </tr>
</template>