<template>
    <tr>
        <td class="col-md-3">
            <au-autocomplete value.bind="data.spkDocsViewModel" error.bind="error.code" loader.bind="packingListLoader"
              text="packingList" change.delegate="packingListChangeCallback($event)"
                read-only.bind="packingListReadOnly || options.readOnly">
            </au-autocomplete>
        </td>
        <td class="col-sm-3">
            <au-numeric value.bind="data.weight" error.bind="error.weight" read-only.bind="options.readOnly">
            </au-numeric>
        </td>
        <td class="col-sm-3">
            <au-textbox value.bind="data.quantity" class="text-center" read-only.bind="true">
            </au-textbox>
        </td>
        <td class="col-sm-3">
            <au-textbox value.bind="data.remark" read-only.bind="options.readOnly" placeholder="catatan">
            </au-textbox>
        </td>
        <td class="col-sm-2" if.bind="!options.readOnly"><button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button></td>
    </tr>
    <tr>
        <td>
        </td>
        <td colspan="4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Barcode</th>
                        <th>Produk</th>
                        <th if.bind="!isDetail">Kuantitas Packing List</th>
                        <th if.bind="!isDetail">Kuantitas Stok</th>
                        <th if.bind="!isDetail">Kuantitas Pengiriman</th>
                        <th if.bind="isDetail">Kuantitas</th>
                        <th>Catatan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr repeat.for="item of data.details">
                        <td>
                            <div class="form-group">
                                <p class="form-control-static">${item.item.code}</p>
                            </div>
                        </td>
                        <td>
                            <div class="form-group ${error.items[$index].articleVariantId?'has-error':''}">
                                <p class="form-control-static">${item.item.name}</p>
                                <span class="help-block">${error.items[$index].articleVariantId}</span>
                            </div>
                        </td>
                        <td if.bind="!isDetail">
                            <div class="form-group ${error.items[$index].quantity?'has-error':''}">
                                <p class="form-control-static">${item.sendquantity}</p>
                                <span class="help-block">${error.items[$index].quantity}</span>
                            </div>
                        </td>
                        <td if.bind="!isDetail">
                            <div class="form-group ${error.items[$index].quantityStock?'has-error':''}">
                                <au-numeric label="" format="0" value.bind="item.quantityStock" read-only.bind="true"></au-class>
                                <span class="help-block">${error.items[$index].quantityStock}</span>
                            </div>
                        </td>
                        <td if.bind="!isDetail">
                            <div class="form-group ${error.items[$index].sendQuantity?'has-error':''}">
                                <au-numeric label="" format="0" value.bind="item.sendQuantity" read-only.bind="options.readOnly"></au-numeric>
                                <span class="help-block">${error.items[$index].sendQuantity}</span>
                            </div>
                        </td>
                        <td if.bind="isDetail">
                            <div class="form-group ${error.items[$index].quantity?'has-error':''}">
                                <p class="form-control-static text-center">${item.sendQuantity}</p>
                                <span class="help-block">${error.items[$index].sendQuantity}</span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group ${error.items[$index].remark?'has-error':''}">
                                <au-textbox label="" placeholder="catatan" value.bind="item.remark" read-only.bind="options.readOnly"></au-textbox>
                                <span class="help-block">${error.items[$index].remark}</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</template>
