<template>
    <tr>
        <td class="col-md-2">
            <au-textbox value.bind="data.Multiplier" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
        <td class="col-md-5">
            <au-textbox value.bind="data.Proposed" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
        <td class="col-md-5">
            <au-textbox value.bind="data.Rounding" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
    </tr>
</template>