<template>
    <tr>
        <td style="width: 14%">
            <au-autocomplete placeholder="Cari Kategori" value.bind="thisCategory" text.bind="thisCategoryText" error.bind="error.Category" loader.one-time="categoryLoader" options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td style="width: 17%">
            <au-autocomplete placeholder="Cari Material" value.bind="data.Material" error.bind="error.Material" loader.one-time="materialLoader" options.bind="controlOptions"
                text="Name" query.bind="filterMaterial" show.bind="categoryIsFilled">
            </au-autocomplete>
        </td>
        <td style="width: 18%">
            <au-multiline placeholder="Deskripsi" value.bind="data.Description" error.bind="error.Description" options.bind="controlOptions" show.bind="categoryIsFilled"></au-multiline>
        </td>
        <td style="width: 7%">
            <au-numeric value.bind="data.Quantity" error.bind="error.Quantity" options.bind="controlOptions" show.bind="categoryIsFilled"></au-numeric>
        </td>
        <td style="width: 8.5%">
            <au-autocomplete placeholder="Cari Satuan" value.bind="data.UOMQuantity" error.bind="error.UOMQuantity" loader.one-time="satuanQuantityLoader" options.bind="controlOptions"
                text="Name" show.bind="categoryIsFilled">
            </au-autocomplete>
        </td>
        <td style="width: 8%">
            <au-numeric value.bind="data.Price" error.bind="error.Price" options.bind="controlOptions" show.bind="categoryIsFilled"></au-numeric>
        </td>
        <td style="width: 8.5%">
            <au-autocomplete placeholder="Cari Satuan" value.bind="data.UOMPrice" error.bind="error.UOMPrice" loader.one-time="satuanPriceLoader" options.bind="controlOptions"
                text="Name" show.bind="categoryIsFilled">
            </au-autocomplete>
        </td>
        <td style="width: 7%">
            <au-numeric value.bind="data.Conversion" error.bind="error.Conversion" options.bind="controlOptions" show.bind="categoryIsFilled"></au-numeric>
        </td>
        <td style="width: 9%">
            <au-numeric value.bind="total" read-only.bind="disabled"></au-numeric>
        </td>
        <td style="width: 3%" if.bind="!readOnly">
            <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
        </td>
    </tr>
</template>
