<template>
    <tr>
        <td class="col-md-2">
            <au-autocomplete placeholder="Cari Kategori" value.bind="thisCategory" text.bind="thisCategoryText" error.bind="error.Category" loader.one-time="categoryLoader" options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td class="col-md-1">
            <au-autocomplete placeholder="Cari Material" value.bind="data.Material" error.bind="error.Material" loader.one-time="materialLoader" options.bind="controlOptions"
                text="Name" query.bind="filterMaterial" show.bind="categoryIsFilled">
            </au-autocomplete>
        </td>
        <td class="col-md-2">
            <au-textbox placeholder="Deskripsi" value.bind="data.Description" error.bind="error.Description" options.bind="controlOptions" show.bind="categoryIsFilled"></au-textbox>
        </td>
        <td class="col-md-1">
            <au-numeric value.bind="data.Quantity" error.bind="error.Quantity" options.bind="controlOptions" show.bind="categoryIsFilled"></au-numeric>
        </td>
        <td class="col-md-1">
            <au-autocomplete placeholder="Cari Satuan" value.bind="data.UOMQuantity" error.bind="error.UOMQuantity" loader.one-time="satuanQuantityLoader" options.bind="controlOptions"
                text="Name" show.bind="categoryIsFilled">
            </au-autocomplete>
        </td>
        <td class="col-md-1">
            <au-numeric value.bind="data.Price" error.bind="error.Price" options.bind="controlOptions" show.bind="categoryIsFilled"></au-numeric>
        </td>
        <td class="col-md-1">
            <au-autocomplete placeholder="Cari Satuan" value.bind="data.UOMPrice" error.bind="error.UOMPrice" loader.one-time="satuanPriceLoader" options.bind="controlOptions"
                text="Name" show.bind="categoryIsFilled">
            </au-autocomplete>
        </td>
        <td class="col-md-1">
            <au-numeric value.bind="data.Conversion" error.bind="error.Conversion" options.bind="controlOptions" show.bind="categoryIsFilled"></au-numeric>
        </td>
        <td class="col-md-1">
            <au-numeric value.bind="total" read-only.bind="disabled"></au-numeric>
        </td>
        <td class="col-md-1" if.bind="!readOnly">
            <button class="btn btn-danger pull-right" click.delegate="onremove(stepIndicators, $event)">-</button>
        </td>
    </tr>
</template>